<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ToolBelt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09D55A071CE7B81500EEE324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D55A1B1CE7B81500EEE324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09D55A261CE7B81500EEE324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
